
.corpo {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/fundo.jpg);
    background-position: center;
}

.services {
    margin-bottom: 3%;
}

.card {
    border-radius: 20px;
}

.card img {
    border-radius: 20px 20px 0 0 ;
}

.imgind {
    width: 100%;
}

.imgind img {
    width: 100%;
    height: 300px;
    border: 1px solid red;
    border-radius: 20px;
}

/* media-breakpoint-up(sm) { 576px }
@include media-breakpoint-up(md) { 768px}
@include media-breakpoint-up(lg) { 992px }
@include media-breakpoint-up(xl) 1200px

(min-width: 576px) { ... }

// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) { ... }

// Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) { ... }

// Dispositivos extra large (desktops grandes com 1200px ou mais)
@media (min-width: 1200px) { ... } */