* {
    margin: 0;
    padding: 0;
    font-family: 'Vast Shadow', cursive;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: #4c3b4d;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

ul {
    list-style: none;
}

h1 {
    font-family: 'Miltonian Tattoo', cursive;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

p {
    text-indent: 40px;
}

.borda {
    border: 3px solid black;
}

.borda-red {
    border: 3px solid red;
}

.pg {
    font-weight: bolder;
    font-size: 1.2em;
    font-style: italic;
}
/*  CONTAINER */

.fundo {
    background-color: #ffeedb;
}

.menu {
    background-color: #a53860;
    color: white;
}

.menu p {
    font-size: .9em;
}

.corpo {
    color: white;
}

/* Rodape */

.rodape {
    background-color: #e3170a;
    color: white;
}

.rodape i {
    margin-right: 2%;
    font-size: 1.2em;
}

.rodape span {
    font-size: .8em;
}

.twitter:hover {
    color: #00aced;
}

.facebook:hover {
    color: #0077e2;
}

.instagram:hover {
    color: purple;
}