* {
    margin: 0;
    padding: 0;
    font-family: 'Vast Shadow', cursive;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: #4c3b4d;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

ul {
    list-style: none;
}

h1 {
    font-family: 'Miltonian Tattoo', cursive;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

p {
    text-indent: 40px;
}

.borda {
    border: 3px solid black;
}

.borda-red {
    border: 3px solid red;
}
/*  CONTAINER */

.fundo {
    background-color: #ffeedb;
}

.menu {
    background-color: #a53860;
}

.corpo {
    color: white;
}